{# this is a special file that most static site hosts render when a page cannot be found #}

{% extends 'marmalade/layout.html.twig' %}

{% block metadata %}
title: 404
description: Not Found
{% endblock %}

{% block content %}
    <p>404 | Not Found</p>
{% endblock %}
