{% extends 'marmalade/layout.html.twig' %}

{% block metadata %}
title: My Website
description: My static website
{% endblock %}

{% block content %}
    {% apply markdown_to_html %}
        Welcome to the *homepage*!
    {% endapply %}

    <h2>Last 5 Posts</h2>
    <ul>
        {% for page in pages.in('posts').withoutIndices.sortByDesc('date').limit(5) %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{{ pages.get('posts/index').url }}">All Blog Posts</a></p>
{% endblock %}
