{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            widgets...
        </div>
    </div>
{% endblock %}
