{% props field = null, value = null %}

{% set value = value ?: field.vars.help|default %}

<p{{ attributes.defaults({
    id: field.vars.id is defined ? (field.vars.id ~ '-help') : false,
    class: 'ui-form-help',
}) }}>
    {% block content %}{{ value }}{% endblock %}
</p>
