{% extends 'marmalade/layout.html.twig' %}

{% block metadata %}
title: Post 2
description: Post 2 description
date: '2017-01-21'
{% endblock %}

{% block content %}
    <p>Post 2 content</p>
{% endblock %}
