<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Alternate Form System POC{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="antialiased">
                <div class="max-w-4xl flex m-auto px-4 pt-4">
                    <nav class="w-1/4">
                        <ul class="list-disc list-inside">
                            <li class="underline"><a href="{{ path('homepage') }}">Home</a></li>
                        </ul>
                    </nav>
                    <main class="w-3/4">
                        {% block content %}{% endblock %}
                    </main>
                </div>
            </div>
            <twig:Icon:DeferredStack />
        {% endblock %}
    </body>
</html>
