{% extends 'base.html.twig' %}

{% block content %}
    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" /></p>
    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" /></p>
    <p class="flex items-center">Deferred: <twig:Icon name="gift" class="w-6 h-6" defer /></p>
    <p class="flex items-center">Deferred: <twig:Icon name="gift" class="w-7 h-7" defer /></p>
    <p class="flex items-center">Deferred: <twig:Icon name="gift" class="w-8 h-8" defer /></p>
{#    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" defer /></p>#}
{#    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" defer /></p>#}
{#    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" defer /></p>#}
{#    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" defer /></p>#}
{#    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" defer /></p>#}
{#    <p class="flex items-center">Standard: <twig:Icon name="academic-cap" class="w-6 h-6" defer /></p>#}
{% endblock %}
