{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('contact_html_raw') }}">Contact Form <small>(raw validation)</small></a></li>
        <li><a href="{{ path('contact_html_dto') }}">Contact Form <small>(dto validation)</small></a></li>
    </ul>
    <hr />
    <ul>
        <li><a href="#">Post CRUD</a> <small>(entity validation, same routes)</small></li>
    </ul>
{% endblock %}
